html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  background-color: aliceblue;
}

.form-signin {
  max-width: 330px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.field-icon {
  float: right;
  margin-right: 7px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
}

.field-icon:hover {
  color: #3B71CA;
  cursor: pointer;
}